@media (min-width: 1000px)
{
  .navbar
   {
    margin-left: 85px;
    margin-right: 85px;
    height: 150px;
   }

   .logo {
    font-size: 40px;
   }

   .item a {
    font-size: 1rem;
   }
}

@media (max-width: 1000px)
{
  .navbar
   {
    margin-left: 35px;
    margin-right: 35px;
    height: 80px;
   }

   .logo {
       font-size: 25px;
   }

   .item a {
    font-size: 10px;
   }
}

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0.05em;
    color: #DEDEDE;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item a {
    font-family: Segoe UI;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #626FC5;
    text-decoration: none;
    margin-right: 2rem;
}

.item a:hover {
    color: #b2bbf3;
}