.bodyProjects {
    min-height: 100vh;
}

.grid__projects {
    min-width: 750px;
    display: grid;
    justify-content: center;
    column-gap: 4em;
    padding: 1em;
    grid-template-columns: 500px 230px;
}

.grid__projects h4{
    padding-bottom: 7px;
    color: #5F6ABC;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}
.grid__projects p{
    color: #8B8DAF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}

.grid__projects_col1 {
    height: 120px;
    width: 100%;
    padding: .5em;
}

.grid__projects_col2 {
    height: 130px;
    width: 100%;
    text-align: center;
}

.card__projects {
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.205);
}

.card__projects img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title {
    padding: 2em 0em 2em 0em;
    color: var(--colorBlueTitle);
    display: flex;
    align-items: center;
}

.title__txt {
    padding-left: 5em;
    padding-right: 2em;
}

.title__line{
    margin: auto;
    width: 100%;
}
.line{
    border: 1px solid #969cba;
    background-color: #969cba;
}