:root {
  --colorRed: #FC0D1B;
  --colorLightBlue: #626fc583;
  --colorBackground: #FDFDFD;
  --colorBlueTitle: #4e5bb4;
}

* {
  margin: 0;
}


body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFDFD;
}
